<p>
  <b>Name: </b>
  <%= @contact_us.name %>
</p>

<p>
  <b>Email: </b>
  <%= @contact_us.email %>
</p>

<p>
  <b>Phone Number: </b>
  <%= @contact_us.phone_no %>
</p>

<p>
  <b>Message: </b>
  <%= @contact_us.message %>
</p>



