<h3>Welcome !!!</h3>

<ul>
      <li> Learn software from an extensive library. </li>
      <li> Classes from beginners to experts.</li>
      <li> Learn at your own pace.</li>
      <li> Watch one tutorial at a time or the whole course.</li>
</ul>

<%= link_to "Subscribe", user_subscriptions_path %>
<%= link_to "Training Offered" %>


