#payments
{
   width: 60%;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
   border:1px solid #303030; 
}
#head1
{
text-align: left;
font-size: 1em;
border: 1px solid #303030;
padding: 3px 2px 2px 2px;
width: 50%
}
#head2
{
text-align: left;
font-size: 1em;
border: 1px solid #303030;
padding: 3px 2px 2px 2px;
width: 10%
}
.cols
{
font-size: 1.1em;
text-align: left;
padding-top: 5px;
padding-bottom: 4px;
background-color: #A0A0A0;
color: #ffffff;
border: 1px solid #303030;
}
.rows
{
color: #000000;
background-color: #C0C0C0;
}
#compare
{
text-decoration: none;
font-size: 1.1em;
}



// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
